:root {
  --bs-link-color: black;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "work shop inicio" "aboutme contactme inicio";
}
.container > a {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.container > a:hover {
  opacity: 0.65;
  color: #f09d93;
}
.container .container_inicio {
  grid-area: inicio;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/logowhite.png);
}
.container .container_work {
  grid-area: work;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/Optimizadas/instasizerecorte.jpeg);
}
.container .container_shop {
  grid-area: shop;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/Optimizadas/instasizerecorte.jpeg);
}
.container .container_aboutme {
  grid-area: aboutme;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/Optimizadas/instasizerecorte.jpeg);
}
.container .container_contactme {
  grid-area: contactme;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/Optimizadas/instasizerecorte.jpeg);
}

.containerimg {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}
.column img {
  width: 100%;
  margin-top: 5px;
}

.card-group {
  padding: 10px;
}
.card-group .card {
  transition: all 0.25s;
}
.card-group .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .container {
    grid-template-areas: "inicio" "work" "shop" "aboutme" "contactme";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    grid-template-areas: "inicio inicio" "work shop" "aboutme contactme";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.title_work {
  text-align: center;
  margin: 1%;
  padding: 0.5%;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../imagenes/posiblebanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2%;
  padding: 2%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: linear-gradient(to right, #d0e9fd 0%, 24.8812347651%, #c4aedd 49.7624695301%, 74.8812347651%, #f3f3f3 100%);
  display: flex;
  font-size: 1rem;
  text-align: left;
  bottom: 0.4rem;
  padding: 1rem;
  justify-content: space-between;
}

.navbar {
  font-family: "Montserrat", sans-serif;
}

button {
  position: relative;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #16ab9e;
  color: white;
  transition: 0.5s;
  overflow: hidden;
}
button:hover {
  color: #6a4141;
}
button:hover span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%;
}
button:hover span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}
button:hover span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
button:hover span:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}
button:hover:hover span {
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
  background: black;
}
button:hover:hover span:nth-child(1) {
  left: 0;
}
button:hover:hover span:nth-child(2) {
  right: 0;
}
button:hover:hover span:nth-child(3) {
  bottom: 0;
}
button:hover:hover span:nth-child(4) {
  top: 0;
}

/*# sourceMappingURL=style.css.map */
