@media screen and (min-width: 426px) and (max-width: 768px) {
  .divgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "inicio inicio"
      "work shop"
      "aboutme contactme";
  }
}
@media screen and (min-width: 769px) {
  .divgrid {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "work shop inicio"
      "aboutme contactme inicio";
  }
}
