$color-link: black;
$color-link1: #f09d93;
$color-white: white;
$shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$gradiante-footer: #d0e9fd 0%, 24.881234765052795%, #c4aedd 49.76246953010559%,
  74.8812347650528%, #f3f3f3 100%;
$font-links: "Montserrat", sans-serif;
$font-h1yp: "Nunito Sans", sans-serif;
$font-h2: "Source Sans Pro", sans-serif;
:root {
  --bs-link-color: black;
}
