* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "work shop inicio"
    "aboutme contactme inicio";
}
.container_inicio {
  background-image: url(../imagenes/formal1.png);
  grid-area: inicio;
  background-size: cover;
}
.container_work {
  background-image: url(../imagenes/1.jpg);
  grid-area: work;
  background-repeat: no-repeat;
}
.container_shop {
  background-image: url(../imagenes/1.jpg);
  grid-area: shop;
  background-repeat: no-repeat;
}
.container_aboutme {
  background-image: url(../imagenes/1.jpg);
  grid-area: aboutme;
  background-repeat: no-repeat;
}
.container_contactme {
  background-image: url(../imagenes/1.jpg);
  grid-area: contactme;
  background-repeat: no-repeat;
}
.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover {
  opacity: 0.65;
  color: #f09d93;
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
header {
  margin: 2%;
  padding: 2%;
}
header {
  background-image: url(../imagenes/posiblebanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.title_illustration {
  text-align: center;
  margin: 1%;
  padding: 0.5%;
}
.containercards {
  width: 100%;
  max-width: 1200%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
}
img {
  width: 330px;
  height: 220px;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-areas:
      "inicio"
      "work"
      "shop"
      "aboutme"
      "contactme";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .container {
    grid-template-areas:
      "inicio inicio"
      "work shop"
      "aboutme contactme";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
footer {
  background-image: url(../imagenes/gradiantefooter.png);
  display: flex;
  font-size: 1rem;
  text-align: left;
  bottom: 0.4rem;
  padding: 1rem;
  justify-content: space-between;
}
